/* Global Styles */
body {
  font-family: 'Lato', sans-serif;
}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(241, 225, 12);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 255, 255);
}

/* Top Bar */
.top-bar {
  background-color: rgb(19, 152, 60);
}

.top-bar h1 {
  color: rgb(255, 255, 255);
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

.top-bar p {
  color: rgb(255, 255, 255);
  font-size: 24px;
}

/* Content */
.bus-route {
  border-radius: 0;
  font-family: 'Lato', sans-serif;
  margin-top: 25px;
}

#sub-butt {
  height: 35px;
  width: 100%;
  font-weight: 700;
  border: 0 solid rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  background-color: rgb(241, 225, 12);
}

/* Restaurant Listings */
.restaurants {

}

.restaurant-name {
  background-color: rgb(241, 225, 12);
  padding: 5px 10px 0;
  margin-bottom: 10px;
}

.restaurant-name p {
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
}

.restaurant-name span {
  font-size: 14px;
  float: right;
}

.restaurant-address {
  font-size: 18px;
}

.restaurant-bottom {
  padding-bottom: 25px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.75);
}

/* Bottom Menu Bar */
.bottom-bar {
  background-color: rgb(19, 152, 60);
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
}

.bottom-bar div {
  padding-top: 10px;
  text-align: center;
}

.menu-bar li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}
