/* Global Styles */
body {
  font-family: 'Lato', sans-serif;
}

/* Top Bar */
.top-bar {
  background-color: rgb(19, 152, 60);
}

.top-bar h1 {
  color: rgb(255, 255, 255);
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

.top-bar p {
  color: rgb(255, 255, 255);
}

/* Content */
.content {
  margin-top: 25px;
}

#sub-butt {
  width: 25%;
  border: 0 solid rgb(79, 79, 79);
  color: rgb(66, 66, 66);
  background-color: rgb(241, 225, 12);
}

/* Bottom Menu Bar */
.bottom-bar {
  background-color: rgb(19, 152, 60);
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
}

.bottom-bar div {
  text-align: center;
}

.menu-bar li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

.menu-bar a {
  color: rgb(255, 255, 255);
}

.menu-bar a:visited {
  color: rgb(255, 255, 255);
}

.menu-bar a:hover {
  color: rgb(241, 225, 12);
  text-decoration: none;
}
